<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
          {% javascripts '../node_modules/socket.io/node_modules/socket.io-client/socket.io.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}        {% block js_footer %}{% endblock %}
    </body>
</html>
