{% extends "::base.html.twig" %}

{% block body %}
  <form id="js-message-enter">
    <input id="js-message-value" type="text" name="message" value="" />
    <button type="submit">send</button>
  </form>
  <ul id="conversation-lis"><li></li></ul>
  <p>{{ response }}</p>
{% endblock %}

{% block js_footer %}
  {% javascripts '@EDWebsocketBundle/Resources/public/assets/jquery.cookie.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}
  <script>
    var socket,
        list = $('#conversation-lis'),
        form = $('#js-message-enter')
        ;
    $(document).ready(function(){
      socket = io.connect('http://192.168.1.209:3017?node_cookie=' + $.cookie('PHPSESSID'));
      socket.on('connect', function () {
        var message = {
          name: '{{ name }} connected',
          message: ''
        };
        socket.emit('messaga', message);
      });
      socket.on('messaga', function (data) {
        list.append('<li><b>' + data.name + ':</b> ' + data.message + '</li>');
      });

      form.on('submit', function(ev){
        ev.preventDefault();
        var message = {
          name: '{{ name }}',
          message: $('#js-message-value').val()
        };
        socket.emit('messaga', message);
        ev.target.reset();
      });

    });
  </script>
{% endblock %}
